PACKING_API_URL=https://eu.api.3dbinpacking.com/packer
PACKING_API_USERNAME=your-username-here
PACKING_API_KEY=your-api-key-here

DB_DRIVER=pdo_mysql
DB_HOST=shipmonk-packing-mysql
DB_USER=root
DB_PASSWORD=secret
DB_NAME=packing

DOCTRINE_DEV_MODE=true

API_KEY=your-api-key-here

LOG_LEVEL=warning
